@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding:0;
}
:root {
    font-family: 'Lato', sans-serif;
    color: #21243D;
    line-height: 1.7;
    scroll-behavior: smooth;
}
html,body {
    max-width: 1200px;
    margin: auto;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
    color: #21243D;
}
h2 {
    font-size: 3.5rem;
    padding: 1.5em 0 1.5em 0;
    text-align: center;
}
.name{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu {
    width: 50%;
}
header .menu ul {
    padding:0;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.menu ul li {
    font-size: 1.3rem;
    border-bottom: 2px transparent;
}
.menu ul li a:hover {
    border-bottom: 2px solid #FF7C7C;
}
.logo {
    font-size: 2em;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
 @media(max-width:700px){
    header ul li:nth-child(1),
    header ul li:nth-child(3),
    header li:nth-child(4)  {
        display: none;
    }
 }
  @media(max-width:450px){
    header ul a{
        display: none;
    }
 }
.container_offer{
    display: grid;
    display: -moz-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
 }
 @media(max-width:980px){
    .container_offer {grid-template-columns: 1fr 1fr; }
 }
@media(max-width:760px){
    .container_offer {grid-template-columns: 1fr; }
 }
.offer_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offer_box img{
    display: block;
    max-width: 350px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.offer_text{
    max-width: 350px;
    display:grid;
    display: -moz-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 100px 20%;
}
.products{
    display:grid;
    display: -moz-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.product_image img{
    display:block;
    max-width: 100%;
}
.product_description{
    display:grid;
    display: -moz-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px 200px 30px;

}
.product_button{
    display: flex;
    justify-content: space-between;
}
 @media(max-width:1000px){
    .products {grid-template-columns: 1fr 1fr 1fr;}
}
 @media(max-width:900px){
    .products {grid-template-columns: 1fr 1fr;}
}
 @media(max-width:768px){
    .products {grid-template-columns: 1fr;}
}
.contacts_container{
    display:grid;
    display: -moz-grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: #88E1F2;
    opacity: 0.7;
}
iframe{
    width: 100%;
    height: 800px;
    border: 0;
}
.contact{
    max-height: 300px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}
@media(max-width:800px){
    .contacts_container {grid-template-columns: 1fr; }
 }
/*
.about_us{
    display: flex;
    justify-content: space-evenly;
}
.about_us_block{
    width: 368px;
    height: 245px;
    background-size:cover;
    opacity: 0.8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    }
.about_us_block p{
    display: block;
    padding: 0 15px 0 15px;
}
.about_us_block:first-child{
    background-image: url('../img/woman_on_hammock.jpg');
}
.about_us_block:nth-child(2){
    background-image: url('../img/hammock_sea.jpg');
    color:#ffffff;
}
.about_us_block:last-child{
    background-image: url('../img/hammock_plant.jpg');
}
@media(max-width:1100px){
    .about_us_block {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    }
 }*/