@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding:0;
}
:root {
    font-family: 'Lato', sans-serif;
    color: #21243D;
    line-height: 1.7;
    scroll-behavior: smooth;
}
html, body {
    max-width: 1600px;
    margin: auto;
    color: #21243D;
}
a {
	text-decoration: none;
    color: #21243D;
}
a:hover {
	text-decoration: none;
    color: rgb(62, 69, 139);
}
header nav.navbar {
    display: flex;
    justify-content: space-around;
}
.logo {
    font-size: 2em;
    display: flex;
    align-items: center;
}
.logo a:hover{
    text-decoration: none;
}
.logo img{
    width: 100px;
}
.nav-item a{
    color: #21243D!important;
}
.navbar ul li {   
    font-size: 1.4rem;
    border-bottom: 2px transparent;
}
.navbar ul li a:hover {
    border-bottom: 2px solid #FF7C7C;
}
.openCartLink{    
    background: #ffffff;
    border: 2px solid #88E1F2; 
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.4rem;
} 
.openCartLink:hover { 
    background:#88E1F2; 
    border-bottom: transparent;
}
.carousel-inner h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.carousel-inner p{
    font-size: 2rem;
}
.carousel-caption .button{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}
.carousel-caption .button:hover{
    background-color: #88E1F2;;
    border: 2px solid #88E1F2;;
    color:  #21243D;
}
.name h2{
    font-size: 3.5rem;
}
.name{
    font-size: 1.5rem;
    text-align: center;
    padding: 5rem 0;
}
@media(max-width:860px){
    .card-deck {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 1rem;
    }
}
@media(max-width:600px){
    .card-deck {
        display: grid;
        grid-template-columns: 1fr; 
    }
}
.contacts_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: #88E1F2;
}
iframe{
    width: 100%;
    height: 800px;
    border: 0;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 5rem;
}
.text-description img{
    width: 100px;
}
.text-inner{
    text-align: center;
    border-radius: 20px;
    background: #ffffff;
}
.text-description{
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem
}
.text-description p{
    font-size: 1.5rem;
}
.text-description a{
    font-size: 1.5rem;
}
.text-description h4{
    font-size: 1.3rem;
    font-weight: bold;
}
@media(max-width:860px){
    .contacts_container {
        grid-template-columns: 1fr; 
    }
    .text-description {
        font-size: 70%;
    }
 }
@media(max-width:500px){
    .text-description {
        font-size: 40%;
        padding: 1rem;
    }
    iframe {
    height: 500px;
    }
 }
.about_us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.about_us .card{
    max-width: 350px;
    border: transparent;
    border-radius: 10px;
}
.about_us .card img{
    opacity: 0.6;
    border-radius: 10px;
}
.card-img-overlay p{
    font-size: 1.2rem;
    text-align: center;
}
.card-img-overlay h3{
    font-size: 1.5rem;
    text-align: center;
}
@media(max-width:990px){
    .about_us {
        grid-template-columns: 1fr 1fr; 
    }
 }
@media(max-width:760px){
    .about_us {
        grid-template-columns: 1fr; 
    }
    .about_us .card{
    max-width: 600px;
    }
    .card-img-overlay p{
    font-size: 1.2rem;
}
 }
.block_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-block{
    display: flex; 
    flex-direction: column;     
    justify-content: center;
    align-items: center;
    line-height: 3rem;
}
.form-block h3{
    font-size: 2.9rem;
    text-align: center;
    padding: 0 10rem 1rem 10rem;
}
.form-block p{
    text-align: center;
    font-size: 1.3rem;
    padding: 0 10rem;
    line-height: 2rem;
}
.form-control{
    background: rgb(186, 188, 204, 0.5);
    width: 25rem;
    height: 3rem;
}
.form form{
    font-size:1.3rem;
    line-height: 5rem;
} 
.form .btn.btn-dark{
    width: 25rem;
    margin-top: 4rem;
    height: 3rem;
}
.image-container img{
    display: block;
    width: 100%;
    height: 900px;
}
@media(max-width:1100px){
    .block_form {
        grid-template-columns: 1fr; 
    }
    .image-container img{
    height: auto;
    }
}
@media(max-width:680px){
    .form-block h3{
    font-size: 2.3rem;
    padding: 0 5rem 1rem 5rem;
    }
    .form-block p{
        font-size: 1rem;
        padding: 0 5rem;
        line-height: 1.5rem;
    }
}
.footer{
    display:grid;
    grid-template-columns: 40% 1fr 1fr;
    margin-top: 5rem;
}
.logo_footer img{
    width: 100px;
}
.footer h5 {
    font-size: 1.7rem;
}
.footer li, .footer a {
    font-size: 1.1rem;
    list-style: none;
}
.footer-copyright{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    background: #21243D;
    color: #ffffff;
}
@media(max-width:760px){
    .footer {
        grid-template-columns: 1fr 1fr; 
    }
}
@media(max-width:500px){
    .footer {
        grid-template-columns: 1fr; 
    }
}
.countdown {
    color: #21243D;;
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
}

.countdown-number {
    padding: 1rem;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    border: 2px solid #FF7C7C
}

.countdown-time {
    padding: 1rem;
    border-radius: 3px;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 0.5rem;
    font-size: 1rem;
}
.coundown-description{
    text-align: center;
    padding: 3rem;
    line-height: 3.5rem;
}
.coundown-description .action-header{
    font-size: 2rem;
    font-weight: bold;
}
.coundown-description .action-text {
    font-size: 1.3rem;
}
@media(max-width:760px){
    .countdown {
        font-size: 2.5rem; 
        padding: 0.7rem;
    }
}
@media(max-width:480px){
    .countdown {
        font-size: 1.7rem; 
        padding: 0.7rem;
    }
}
.products-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
}

.product_description{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 14rem 12% 1fr;

}
.product_description span {
    text-decoration:  line-through;
}
.product_button{
    display: flex;
    justify-content: space-between;
}
.product_button button{    
    background: #000033;
    padding: .5rem;
    font-size: 1rem;
    border: 2px solid  #000033; 
    border-radius: 8px;
    color: #ffffff;
} 
.product_button button.buy {
    padding: .5rem 2rem;
}
.product_button button:hover { 
    color:#FFD082; 
}
 @media(max-width:1000px){
    .products-container {grid-template-columns: 1fr 1fr 1fr;}
    .product_description{grid-template-rows: 12% 14rem 12% 1fr;}
}
 @media(max-width:900px){
    .products-container {grid-template-columns: 1fr 1fr;}
    .product_description{grid-template-rows: 12% 11rem 12% 1fr;}
}
 @media(max-width:768px){
    .products-container {grid-template-columns: 1fr;}
    .product_description{grid-template-rows:  12% 1fr 18% 20%;}
}
.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}
.footer-copyright a{
    color: #ffffff;
}
.price-hammock{
    font-size: 1.3rem;
    font-weight: bold;
}
#top{
    display:block;
    position:fixed;
    bottom:60px;
    right:30px;
}